@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    System Programming lab.
    <p>Variant - 9.</p>
    <p>Mikhail Porotkin, 6303-090301D.</p>
</div>
